OPENAI_API_KEY=sk-proj-VOTRE_CLE_OPENAI_ICI
#DEEPSEEK_API_KEY=

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=langchain_db
DB_USER=langchain
DB_PASSWORD=langchain123

# Tavily (recherche web)
TAVILY_API_KEY=tvly-dev-VOTRE_CLE_TAVILY_ICI
